/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.

*/

:root {
  color: var(--accent-color);
  font-family: var(--main-font);
}

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  background-color: var(--background-color);
  background-image: var(--background-image);
  background-attachment: fixed;
  background-size: cover;
  max-inline-size: 700px;
  margin: 0 auto;
  font-variation-settings: "wght" var(--text-font-weight);
}

.header {
  border: 2px solid var(--accent-color);
  margin: 100px 0;
  height: clamp(327px, 3.8498vw + 19.5352rem, 368px);
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header__title {
  font-family: var(--accent-font);
  font-size: clamp(49px, 2.7104rem + 1.5023vw, 65px);
  color: var(--accent-color);
  margin-bottom: 20px;
  margin-top: clamp(120px, 3.3803vw + 5.4577rem, 136px);
}

.header__subtitle {
  font-family: var(--accent-font);
  color: var(--accent-color);
  font-size: clamp(14px, 0.6769rem + 0.8451vw, 23px);
  margin-bottom: 24px;
  text-transform: uppercase;
}

.theme-menu__list {
  display: flex;
  flex-direction: column;
  gap: 9px;
  padding-left: 20px;
}

.theme-menu__button {
  font-family: var(--accent-font);
  color: var(--accent-color);
  background-color: transparent;
  border: none;
  text-transform: uppercase;
  font-size: 14px;
  cursor: pointer;
  position: relative;
  padding: 0;
}

.theme-menu__button:focus-visible,
.theme-menu__button:hover {
  outline: none;
  opacity: 60%;
  transition: opacity 300ms;
}

.theme-menu__button::after {
  content: "";
  display: block;
  height: 2px;
  width: 0%;
  bottom: -2px;
  left: 0;
  background-color: var(--accent-color);
  transition: width 300ms;
}

.theme-menu__button:focus-visible::after,
.theme-menu__button:hover::after {
  width: 100%;
}

.theme-menu__button:disabled {
  opacity: 60%;
  position: relative;
}

.theme-menu__button:disabled::before {
  content: "▶";
  position: absolute;
  left: -18px;
  animation: arrow 0.5s infinite alternate ease-in-out;
}

@keyframes arrow {
  from {
    left: -18px;
  }

  to {
    left: -22px;
  }
}

/* карточки */

.card {
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
}

.card:not(:first-child) {
  margin-top: 50.5px;
}

@media (width >= 1440px) {
  .card:not(:first-child) {
    margin-top: 51px;
  }
}

.card__title {
  font-size: 18px;
  margin: 4px 10px;
  font-variation-settings: "wght" var(--title-font-weight), "wdth" 150;
}

.card__image-container {
  border-top: 2px solid var(--accent-color);
  border-bottom: 2px solid var(--accent-color);
  position: relative;
  width: 100%;
  height: clamp(375px, 100vw, 700px);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.card__image {
  width: 100%;
}

.card:nth-child(1) .card__image {
  filter: saturate(150%) hue-rotate(180deg);
}

.card:nth-child(2) .card__image {
  filter: blur(20px);
}

.card:nth-child(3) .card__image {
  filter: grayscale(1);
}

.card:nth-child(4) .card__image {
  filter: hue-rotate(-90deg);
}

.card:nth-child(5) .card__image {
  filter: sepia(90%);
}

.card:nth-child(6) .card__image {
  filter: invert(0.7);
}

.card:nth-child(7) .card__image {
  filter: contrast(50%);
}

.card:nth-child(8) .card__image {
  filter: brightness(200%);
}

.card__watermark {
  color: var(--accent-color);
  position: absolute;
  font-family: var(--accent-font);
  right: clamp(11px, 1.3146vw + 0.3794rem, 25px);
  top: clamp(23px, 0.1878vw + 1.3935rem, 25px);
  font-weight: 800;
  mix-blend-mode: hard-light;
  opacity: 50%;
  font-size: 14px;
  text-shadow: -2px 0 var(--background-color), 0 2px var(--background-color),
    2px 0 var(--background-color), 0 -2px var(--background-color);
}

@supports (
  (text-stroke: 1px var(--background-color)) or
    (-webkit-text-stroke: 1px var(--background-color))
) {
  .card__watermark {
    -webkit-text-stroke: 1px var(--background-color);
    text-stroke: 1px var(--background-color);
    text-shadow: none;
  }
}

.card__text {
  margin: 25px 27px 20px 25px;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.card__text p {
  font-size: 18px;
  line-height: 21px;
}

.card__like-container {
  display: flex;
  justify-content: end;
  margin: 25px;
}

.card__like-button {
  width: 130px;
  padding-top: 6px;
  height: 38px;
  transition: 300ms;
}

.black-bg-animation-button {
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  cursor: pointer;
  position: relative;
}

.black-bg-animation-button:focus-visible {
  outline: none;
  box-shadow: 2px 2px 0px 0px var(--accent-color);
}

.black-bg-animation-button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: width 0.5s ease-in-out;
  z-index: 1;
  background-color: var(--animated-button-bg-color);
  mix-blend-mode: difference;
}

.button__text {
  font-family: var(--accent-font);
  color: var(--accent-color);
  font-size: 14px;
  position: relative;
  z-index: 2;
  transition: color 0.3s;
  mix-blend-mode: normal;
}

.black-bg-animation-button:hover::before {
  width: 100%;
}

.black-bg-animation-button:hover .button__text {
  color: var(--background-color);
}

/* footer */

.footer {
  background-color: var(--background-color);
  padding: 52px 33px 100px;
}

.footer__save-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px;
  width: clamp(310px, 2.923vw + 18.4868rem, 340px);
  gap: 8px;
  margin: 0 auto;
}

@media (width >= 1440px) {
  .footer__save-button {
    flex-direction: row;
    gap: 8px;
    padding: 12px;
    justify-content: center;
  }
}

.footer__save-icon {
  width: clamp(21px, -0.6573vw + 1.904rem, 28px);
}

/* dialog */

.dialog {
  background-color: var(--background-color);
  border: 2px solid var(--accent-color);
  width: 340px;
  padding: 30px;
  position: absolute;
}

dialog:not([open]) {
  pointer-events: none;
  opacity: 0;
}

dialog::backdrop {
  background-color: rgb(0 0 0 / 0.75);
}

.dialog__title-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}

.dialog__save-icon {
  width: 39px;
  height: 39px;
  color: var(--accent-color);
}

.dialog__save-icon svg {
  width: 100%;
  height: 100%;
}

.dialog__title {
  color: var(--accent-color);
  font-family: var(--accent-font);
  font-size: 14px;
  text-transform: uppercase;
  line-height: 150%;
}

.dialog__close-button {
  width: 100%;
  height: 38px;
  margin-top: 30px;
}

/* like animation */

.card__icon-button {
  background-color: var(--background-color);
  padding: 0;
  margin-right: 4px;
  outline: none;
  border: 2px solid transparent;
  transition: border 0.3s ease;
  height: 38px;
}

.card__icon-button:focus-visible {
  border: 2px solid var(--accent-color);
}

.like-icon {
  cursor: pointer;
}

.core {
  transition: fill 0.3s ease;
  transition-delay: 0.03s;
  fill: transparent;
}

.main-body {
  transition: fill 0.3s ease;
  fill: transparent;
  /* fill: green; */
}

.sparks {
  opacity: 0%;
}

.like-icon:hover {
  .core {
    transition-delay: 0s;
    fill: var(--accent-color);
  }

  .main-body {
    transition: fill 0.3s ease;
    transition-delay: 0.05s;
    fill: var(--accent-color);
  }
}

.like-icon:active {
  .core {
    fill: var(--heart-color);
  }

  .main-body {
    fill: var(--heart-color);
  }
}

.like-icon.is-liked .core {
  transition-delay: 0s;
  fill: var(--heart-color);
}

.like-icon.is-liked .main-body {
  transition-delay: 0.03s;
  fill: var(--heart-color);
}

.contour {
  transition: fill 0.3s ease;
  transition-delay: 0.06s;
}

.like-icon.is-liked .contour {
  transition: fill 0.3s ease;
  fill: var(--heart-color);
  transition-delay: 0.06s;
}

.like-icon.is-liked .heart {
  animation: heart-scaling 0.5s ease-in-out;
  transform-origin: center center;
  animation-delay: 0.1s;
}

.like-icon.is-liked .sparks {
  opacity: 0%;
  animation: heart-sparks 0.3s ease;
  animation-delay: 0.3s;
}

@keyframes heart-scaling {
  from {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  to {
    transform: scale(1);
  }
}

@keyframes heart-sparks {
  from {
    opacity: 0%;
  }

  50% {
    opacity: 100%;
  }

  to {
    opacity: 100%;
  }
}
